---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import headshotImg from "../headshot.jpg";
---

<BaseLayout title="About - ishgup" description="About ishgup">
    <div class="max-w-5xl mx-auto">
        <div class="flex mt-3 md:flex-row flex-col">
            <div class="text-lg md:text-xl">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor lacus eu faucibus posuere. Quisque tellus tellus, bibendum eu placerat sit amet, iaculis vitae ante. Cras eget molestie magna. Aliquam congue ligula erat, in consequat ex auctor non. Mauris in enim id felis placerat malesuada. Vestibulum mattis semper viverra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ligula mi, dictum vel ex in, semper feugiat dui. Aenean dapibus et velit sed commodo. Suspendisse eget tincidunt nunc. Nunc sapien mauris, dictum in pharetra non, lobortis et nulla. Maecenas a leo fringilla, egestas dui sit amet, porttitor lectus. Duis sit amet euismod odio, eget varius ipsum. Suspendisse sodales ornare nisl sed finibus. Proin sit amet vestibulum metus. Suspendisse in consectetur libero.
            </div>
            <div>
                <Image src={headshotImg} alt="headshot of ishgup" height={5000} width={5000}/>
            </div>
        </div>
        <div class="mt-5">
            <object 
                class="w-full h-[1100px]"
                data="Resume.pdf" 
                >
        </object>
        </div>
    </div>
</BaseLayout>