---
import DraftTable from '../components/DraftTable'
import Section from '../components/Section.astro';
import ishanData from '../data/draft/predict.json';
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from "../components/Card.astro";

export interface Team {
    abbrev: string;
    currentProjectedRank: number;
    divisionId: number;
    draftDayProjectedRank: number;
    id: number;
    isActive: boolean;
    location: string;
    logo: string;
    logoType: string;
    name: string;
    nickname: string;
    owners: string[];
    playoffSeed: number;
    points: number;
    pointsAdjusted: number;
    pointsDelta: number;
    primaryOwner: string;
    rankCalculatedFinal: number;
    rankFinal: number;
    record: Record;
    roster: Roster;
    tradeBlock: TradeBlock;
    transactionCounter: TransactionCounter;
    waiverRank: number;
}

export interface Record {
    away: Away;
    division: Away;
    home: Away;
    overall: Away;
}

export interface Away {
    gamesBack: number;
    losses: number;
    percentage: number;
    pointsAgainst: number;
    pointsFor: number;
    streakLength: number;
    streakType: string;
    ties: number;
    wins: number;
}

export interface Roster {
    entries: any[];
    tradeReservedEntries: number;
}

export interface TradeBlock {
}

export interface TransactionCounter {
    acquisitionBudgetSpent: number;
    acquisitions: number;
    drops: number;
    matchupAcquisitionTotals: TradeBlock;
    misc: number;
    moveToActive: number;
    moveToIR: number;
    paid: number;
    teamCharges: number;
    trades: number;
}

export interface LeagueInfo {
    settings: {
        draftSettings: {
            pickOrder: Number[]
        }
    },
    teams: Team[]
}
---
<BaseLayout title={"Fantasy Draft Tool - ishgup"} description={"2023 Fantasy ADP Analysis"}  activePath="fantasy">
    <Section heading="ESPN vs Ishan Projections">
        
        <div style="margin-bottom: 20px;">This table pulls data from ESPN's PPR Fantasy Rankings, displaying each player's average draft position (ADP) and 
        season total projection. Players are ranked by their ADP in the field ESPN Rank. These rankings are then compared 
        to Ishan's projections and rankings which were created using a machine learning linear regression model. More about 
        this model can be learned within <a href="https://ishqup.github.io/projects/project-1/" style="text-decoration: underline;">this article</a>. 
        The recommended way to use this table is to look at the Difference 
        column, if there is a negative difference the player is overvalued by ESPN and if there is a positive difference the 
        player is undervalued by ESPN. Ishan's rankings should be taken with a grain of salt as they do not include rookies or 
        take into account players changing teams, this means you should heavily evaluate player situations prior to
        relying on these projections to draft.</div>
        <DraftTable client:load ishanData={ishanData}></DraftTable>
    </Section>
    
</BaseLayout>
