---
import DraftTable from '../components/DraftTable'
import Section from '../components/Section.astro';
import ishanData from '../data/draft/predict.json';
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from "../components/Card.astro";

export interface Team {
    abbrev: string;
    currentProjectedRank: number;
    divisionId: number;
    draftDayProjectedRank: number;
    id: number;
    isActive: boolean;
    location: string;
    logo: string;
    logoType: string;
    name: string;
    nickname: string;
    owners: string[];
    playoffSeed: number;
    points: number;
    pointsAdjusted: number;
    pointsDelta: number;
    primaryOwner: string;
    rankCalculatedFinal: number;
    rankFinal: number;
    record: Record;
    roster: Roster;
    tradeBlock: TradeBlock;
    transactionCounter: TransactionCounter;
    waiverRank: number;
}

export interface Record {
    away: Away;
    division: Away;
    home: Away;
    overall: Away;
}

export interface Away {
    gamesBack: number;
    losses: number;
    percentage: number;
    pointsAgainst: number;
    pointsFor: number;
    streakLength: number;
    streakType: string;
    ties: number;
    wins: number;
}

export interface Roster {
    entries: any[];
    tradeReservedEntries: number;
}

export interface TradeBlock {
}

export interface TransactionCounter {
    acquisitionBudgetSpent: number;
    acquisitions: number;
    drops: number;
    matchupAcquisitionTotals: TradeBlock;
    misc: number;
    moveToActive: number;
    moveToIR: number;
    paid: number;
    teamCharges: number;
    trades: number;
}

export interface LeagueInfo {
    settings: {
        draftSettings: {
            pickOrder: Number[]
        }
    },
    teams: Team[]
}
---
<BaseLayout title={"Stonks Fantasy Draft - ishgup"} description={"2023 Fantasy ADP Analysis"}>
    <Section heading="">
        <div class="max-w-lg mx-auto">
            <div class="grid grid-cols-3 gap-2">
                <Card title="Home" href="/"></Card>
                <Card title="Projects" href="/projects"></Card>
                <Card title="Fantasy" href="/fantasy"></Card>
               
            </div>
        </div>
    </Section>
    <Section heading="2023 Draft Order">
        <div>
            1. Prad<br>
            2. Neil<br>
            3. Joey<br>
            4. Sam<br>
            5. Savan<br>
            6. Ishan<br>
            7. Mike<br>
            8. Ian
        </div>
    </Section>
    <Section heading="Draft Board">    
        <style>
            .overflow-auto {
                overflow-x: auto;
            }
            div {
                border-radius: 10px;
            }
            table {
                border-collapse: separate;
                border-radius: 10px;
                border-spacing: 0;
                background-color: rgb(30 41 59);
                padding: 8px;
            }
            td, th {
              padding: 8px;
              text-align: left;
              min-width: 100px;
              white-space: nowrap;
            }
            td {
                border-top: 1px solid white;
                border-top-color: rgba(51, 65, 85, 0.2);
            }
            td:first-child { font-weight: bold; }
        </style>
        <div style="margin-bottom: 20px;">
            Here is our final draft board for the 2023 Draft. Although not a surprise for us, Kelce at 1 is a bold pick as Justin Jefferson
            has been ranked as a consensus first pick among all analysts and platforms this year, however it should work out well as he is 
            a clear leader at his position. Bijan at 5 is the biggest curveball this year but is very fitting for a Savan pick!
            You can check out each team's <a href="https://ishqup.github.io/2023-week-0/">draft grades</a> in Ishan's Preseason
            post as he breaks down each team after the draft!
        </div>
        <div class="overflow-auto" style="margin-bottom: 20px">
            <table>
                <tr>
                  <th></th>
                  <th>1. Prad</th>
                  <th>2. Neil</th>
                  <th>3. Joey</th>
                  <th>4. Sam</th>
                  <th>5. Savan</th>
                  <th>6. Ishan</th>
                  <th>7. Mike</th>
                  <th>8. Ian</th>
                </tr>
                <tr>
                  <td>Rd 1</td>
                  <td>T.Kelce</td>
                  <td>J.Jefferson</td>
                  <td>J.Chase</td>
                  <td>C.McCaffrey</td>
                  <td>B.Robinson</td>
                  <td>T.Hill</td>
                  <td>C.Kupp</td>
                  <td>A.Ekeler</td>
                </tr>
                <tr>
                  <td>Rd 2</td>
                  <td>G.Wilson</td>
                  <td>C.Lamb</td>
                  <td>A.St.Brown</td>
                  <td>N.Chubb</td>
                  <td>S.Diggs</td>
                  <td>D.Adams</td>
                  <td>T.Pollard</td>
                  <td>S.Barkley</td>
                </tr>
                <tr>
                  <td>Rd 3</td>
                  <td>P.Mahomes</td>
                  <td>D.Henry</td>
                  <td>J.Jacobs</td>
                  <td>A.Brown</td>
                  <td>D.Smith</td>
                  <td>J.Waddle</td>
                  <td>C.Olave</td>
                  <td>C.Ridley</td>
                </tr>
                <tr>
                  <td>Rd 4</td>
                  <td>T.Etienne</td>
                  <td>M.Andrews</td>
                  <td>D.Metcalf</td>
                  <td>J.Allen</td>
                  <td>J.Hurts</td>
                  <td>T.Higgins</td>
                  <td>J.Taylor</td>
                  <td>J.Gibbs</td>
                </tr>
                <tr>
                  <td>Rd 5</td>
                  <td>N.Harris</td>
                  <td>R.Stevenson</td>
                  <td>L.Jackson</td>
                  <td>J.Mixon</td>
                  <td>A.Jones</td>
                  <td>J.Conner</td>
                  <td>D.Samuel</td>
                  <td>J.Fields</td>
                </tr>
                <tr>
                  <td>Rd 6</td>
                  <td>T.Hockenson</td>
                  <td>J.Burrow</td>
                  <td>B.Hall</td>
                  <td>C.Godwin</td>
                  <td>R.White</td>
                  <td>A.Mattison</td>
                  <td>A.Cooper</td>
                  <td>K.Allen</td>
                </tr>
                <tr>
                  <td>Rd 7</td>
                  <td>D.Moore</td>
                  <td>K.Walker</td>
                  <td>D.Pierce</td>
                  <td>D.Hopkins</td>
                  <td>C.Watson</td>
                  <td>M.Sanders</td>
                  <td>D.Waller</td>
                  <td>D.Johnson</td>
                </tr>
                <tr>
                  <td>Rd 8</td>
                  <td>D.London</td>
                  <td>C.Akers</td>
                  <td>M.Evans</td>
                  <td>M.Williams</td>
                  <td>G.Kittle</td>
                  <td>I.Pacheco</td>
                  <td>T.McLaurin</td>
                  <td>A.Kamara</td>
                </tr>
                <tr>
                  <td>Rd 9</td>
                  <td>G.Pickens</td>
                  <td>T.Lockett</td>
                  <td>C.Kirk</td>
                  <td>K.Pitts</td>
                  <td>J.Dotson</td>
                  <td>J.Herbert</td>
                  <td>T.Lawrence</td>
                  <td>K.Herbert</td>
                </tr>
                <tr>
                  <td>Rd 10</td>
                  <td>M.Brown</td>
                  <td>J.Dobbins</td>
                  <td>E.Engram</td>
                  <td>C.Sutton</td>
                  <td>J.Juedy</td>
                  <td>D.Goedert</td>
                  <td>J.Williams</td>
                  <td>P.Freiermuth</td>
                </tr>
                <tr>
                  <td>Rd 11</td>
                  <td>D.Swift</td>
                  <td>M.Pittman</td>
                  <td>D.Cook</td>
                  <td>J.Cook</td>
                  <td>D.Montgomery</td>
                  <td>B.Aiyuk</td>
                  <td>J.Addison</td>
                  <td>Z.Flowers</td>
                </tr>
                <tr>
                  <td>Rd 12</td>
                  <td>J.Williams</td>
                  <td>G.Davis</td>
                  <td>S.Moore</td>
                  <td>J.Meyers</td>
                  <td>B.Cooks</td>
                  <td>A.Dillon</td>
                  <td>J.Smith-Njigba</td>
                  <td>M.Thomas</td>
                </tr>
                <tr>
                  <td>Rd 13</td>
                  <td>J.Tucker</td>
                  <td>J.Smith-Schuster</td>
                  <td>B.Robinson</td>
                  <td>D.Jones</td>
                  <td>T.Burks</td>
                  <td>R.Moore</td>
                  <td>J.Wilson</td>
                  <td>A.Richardson</td>
                </tr>
                <tr>
                  <td>Rd 14</td>
                  <td>C.Kmet</td>
                  <td>J.McKinnon</td>
                  <td>R.Doubs</td>
                  <td>S.Perine</td>
                  <td>Z.Charbonnet</td>
                  <td>K.Toney</td>
                  <td>T.Higbee</td>
                  <td>E.Moore</td>
                </tr>
                <tr>
                  <td>Rd 15</td>
                  <td>49ers D/ST</td>
                  <td>E.McPherson</td>
                  <td>Steelers D/ST</td>
                  <td>D.Njoku</td>
                  <td>Cowboys D/ST</td>
                  <td>Bills D/ST</td>
                  <td>Eagles D/ST</td>
                  <td>D.Kincaid</td>
                </tr>
                <tr>
                  <td>Rd 16</td>
                  <td>Q.Johnston</td>
                  <td>A.Gibson</td>
                  <td>J.Meyers</td>
                  <td>J.Elliott</td>
                  <td>G.Zuerlein</td>
                  <td>D.Carlson</td>
                  <td>T.Bass</td>
                  <td>H.Butker</td>
                </tr>
                <tr>
                  <td>Rd 17</td>
                  <td>R.Penny</td>
                  <td>Dolphins D/ST</td>
                  <td>Z.Ertz</td>
                  <td>Saints D/ST</td>
                  <td>N.Collins</td>
                  <td>R.Mostert</td>
                  <td>O.Beckham</td>
                  <td>Browns D/ST</td>
                </tr>
              </table>  
          </div> 
          
    </Section>
    <Section heading="ESPN vs Ishan Projections">
        
        <div style="margin-bottom: 20px;">This table pulls data from ESPN's PPR Fantasy Rankings, displaying each player's average draft position (ADP) and 
        season total projection. Players are ranked by their ADP in the field ESPN Rank. These rankings are then compared 
        to Ishan's projections and rankings which were created using a machine learning linear regression model. More about 
        this model can be learned within the Projects tab. The recommended way to use this table is to look at the Difference 
        column, if there is a negative difference the player is overvalued by ESPN and if there is a positive difference the 
        player is undervalued by ESPN. Ishan's rankings should be taken with a grain of salt as they do not include rookies or 
        take into account players changing teams, this means you should heavily evaluate player situations prior to
        relying on these projections to draft.</div>
        <DraftTable client:load ishanData={ishanData}></DraftTable>
    </Section>
    
</BaseLayout>
