---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import PowerRankingTable from "../components/PowerRankingTable";
import Section from "../components/Section.astro";
import PostCard from "../components/PostCard.astro";

const post = (await getCollection("stonksFantasyBlog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)[0];

const { data } = await getEntry("stonksFantasyData", post.slug);

const { Content } = await post.render();
---

<BaseLayout title="Stonks Fantasy - ishgup" description="Stonks Fantasy Blog Posts">

    <Section heading="">
        <div class="max-w-lg mx-auto">
            <div class="grid grid-cols-3 gap-2">
                <Card title="Home" href="/"></Card>
                <Card title="Fantasy" href="/fantasy"></Card>
                <Card title="Draft" href="/draft"></Card>
               
            </div>
        </div>
    </Section>

    <Section>
        <a href={`/stonksfantasy/${post.slug}/`}>
            <PostCard title={post.data.title} description={post.data.description} date={post.data.pubDate} image={post.data.PRdata.id + ".jpg"}>
        </a>
    </Section>
</BaseLayout>
