---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import PowerRankingTable from "../components/PowerRankingTable";
import Section from "../components/Section.astro";
import FormattedDate from "../components/FormattedDate.astro";

const post = (await getCollection("fantasy")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];

const { Content } = await post.render();
---

<BaseLayout title="ishgup" description="Homepage">

    <div class="flex justify-center items-center pt-10">
        <div>
            <div
                class="my-name font-sans font-bold text-transparent bg-clip-text bg-gradient-to-r from-teal-300 to-teal-500 text-5xl sm:text-7xl md:text-8xl lg:text-9xl"
            >
                {'Ishan Gupta'}
            </div>
            <div class="text-center text-xl sm:text-4xl">Data Science & Sports</div>
        </div>
    </div>

    <Section heading="">
        <div class="max-w-lg mx-auto">
            <div class="grid grid-cols-3 gap-2">
                <Card title="Projects" href="/projects"></Card>
                <Card title="Fantasy" href="/fantasy"></Card>
                <Card title="About Me" href="/about"></Card>
               
            </div>
        </div>
    </Section>


    <div class="grid grid-cols-1 xl:grid-cols-2">
        <Section heading="Current Power Rankings">
            <PowerRankingTable client:load data={post.data.prData}/>
        </Section>
        
        <Section heading="Latest">
            <div class="mb-3">
                {
                    <img
                        width={720}
                        height={360}
                        src={"./fantasy/" + post.slug + "/og-image.png"}
                        alt=""
                    />
                }
                <h1 class="my-4 font-sans font-bold text-4xl">{post.data.title}</h1>
                <FormattedDate date={post.data.pubDate} />
                {
                    post.data.updatedDate && (
                        <div class="last-updated-on">
                            Last updated on <FormattedDate date={post.data.updatedDate} />
                        </div>
                    )
                }
                <hr class="h-px my-4 bg-gray-300 border-0" />
            </div>
            <article class="prose prose-invert prose-md">
                <Content/>
            </article>
        </Section>
    </div>
    
    
</BaseLayout>
