---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import PostCard from "../../components/PostCard.astro";
import Card from "../../components/Card.astro";
import Section from "../../components/Section.astro";

const posts = (await getCollection("fantasy")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BaseLayout title="Stonks Fantasy - ishgup" description="Stonks Fantasy Blog Posts">
    <Section heading="">
        <div class="max-w-lg mx-auto">
            <div class="grid grid-cols-3 gap-2">
                <Card title="Home" href="/"></Card>
                <Card title="Projects" href="/projects"></Card>
                <Card title="Draft" href="/draft"></Card>
               
            </div>
        </div>
    </Section>
    {
        posts.map((post) => (
            <a href={`/fantasy/${post.slug}/`}>
                    <PostCard title={post.data.title} description={post.data.description} date={post.data.pubDate} image={post.slug + "/og-image.png"}>
            </a>
        ))
    }
</BaseLayout>